/* Right here, I'll write the style code for the content table. */
:root {
  --background-color: #e7e7e7;
  --background-color2: #fcfcfc;
  --text-color: #ffffff;
  --main-color: #006a8b;
  --main-font: "Montserrat", sans-serif;
  --shadow-color: #9496a7;
  --dark-color: #000000;
  /* font-family: "Roboto", sans-serif; */
}

.contenttable {
  width: 100%;
  height: 600px;
  border-top: 1px solid rgb(107, 107, 107);
  display: grid;
}

.table {
  height: auto;
  width: 90%;
  display: block;
  margin: 0 auto;
  color: var(--dark-color);
  border-radius: 20px;
}

.table_row {
  border-bottom: 1px solid #c9c9c9;
  height: 80px;
  background-color: var(--background-color2);
  border-radius: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;

  width: 79%;

  font-weight: bold;
  font-family: var(--main-font);
  font-size: 22px;

  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.table_row h2 {
  text-align: left;
  height: 100%;
  padding: 10px;
}

.titles {
  width: auto;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.athlete_title {
  background-color: var(--main-color);
  min-width: 200px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 8px 0;
}
.user-icon,
.schedule-icon {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  margin-left: 10px;
}

.user-icon {
  background-image: url(../assets/userlogo.svg);
}

.schedule-icon {
  background-image: url(../assets/schedulebutton.svg);
}

.arrow {
  background-image: url(../assets/arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.add-button {
  font-family: var(--main-font);
  border-radius: 25px;
  width: 30%;
  height: 50px;
  border: none;
  background-color: var(--main-color);
  color: var(--text-color);
  margin: 10px auto;
  outline: none;
  cursor: pointer;
  font-size: var(--font-size);
  transition: all 0.3s;
  display: block;
}

.add-button:hover {
  background-color: var(--hover-color);
  transition: all 0.20s;
}
